.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .buttons button {
    margin-left: 15px;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttons button:first-child {
    margin-left: 0;
  }
  
  .buttons button:hover {
    background-color: #777;
  }
  
  .buttons button:last-child {
    margin-right: 0;
  }
  