
.slider-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .slick-slider {
    position: relative;
  }
  
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .slick-prev {
    left: 0;
  }
  
  .slick-next {
    right: 0;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .slick-dots li button {
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .slick-dots li button:before {
    content: '•';
    font-size: 18px;
    color: #fff;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ff7f0e;
  }
  